<mat-list>
    <mat-list-item (click)="clickMenuItem()" matRipple routerLink="funcionario" routerLinkActive="active">
      <mat-icon matListItemIcon>dashboard</mat-icon>
      <div matListItemLine>Funcionario</div>
    </mat-list-item>
    <mat-list-item (click)="clickMenuItem()" matRipple routerLink="adolescente" routerLinkActive="active">
      <mat-icon matListItemIcon>category</mat-icon>
      <div matListItemLine>Adolescente</div>
    </mat-list-item>
    <mat-list-item (click)="clickMenuItem()" matRipple routerLink="catalogue/subcategory" routerLinkActive="active">
      <mat-icon matListItemIcon>category</mat-icon>
      <div matListItemLine>Programas</div>
    </mat-list-item>
    <mat-list-item (click)="clickMenuItem()" matRipple routerLink="product" routerLinkActive="active">
      <mat-icon matListItemIcon>shopping_bag</mat-icon>
      <div matListItemLine>Tutores</div>
    </mat-list-item>
  </mat-list>
  
  